html {
  min-height: 100vh;
}
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-main {
  text-align: center;
  height: 100vh;
  background-image: url('./images/pic2.jpg');
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-main h1 {
  font-size: 40px;
  text-shadow: 1px 1px 2px gray;
}
.app-header {
  color: black;
  padding: 20px;
}
.app-body {
  padding: 20px 40px;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 25px;
}
.row {
  display: flex;
  justify-content: center;
}
form {
  margin-bottom: 3rem;
}
form input {
  width: 50px;
  height: 35px;
  text-align: center;
  font-size: 18px;
}
form p {
  margin: 10px;
}
form button {
  font-size: 18px;
  padding: 5px 0;
  height: 42px;
  width: 100px;
  margin: 37px 0 0 1.5rem;
}
form button:hover {
  cursor: pointer;
}
.error {
  color: red;
}
.city {
  font-size: 24px;
}
.forecast {
  border-bottom: 1px black solid;
  padding: 2px 4px;
}

